*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
hr{
    width: 90%;
    margin: auto;
    color:grey ;

}
.container{
    margin: 5px auto;
    display: flex;
    width: 95%;
}
aside{
    background-color: white;
    border: 1px solid grey;
    margin: 10px;
    flex: 3;
    border-radius: 20px;
    
     
}
main{
    flex: 7;
}
.psrn{
    width:300px;
    height: auto;
    border-radius: 50%;
}
.my_name{
    color:gray ;
    font-size: 2vw;
    margin: 5px;
}
.person_detais, .skills_list{
    font-size: 1.13vw;
    padding: 25px;
    list-style:none;
    color:#009688;   
}
.person_detais li{
    margin: 10px 0;

}
.person_detais li i{
    margin: 0px 5px;
} 
.head-section{
    color: #5c5c5c ;
    padding: 30px;
    margin: 0px;
    font-size: 1.0;
}
.skills_list{

}
.skills_list li{
    margin: 10px 0px;

}
.progress-back{ 
    border: 1px solid black ;
    border-radius: 15px;
    height: 1.2em;
    margin-top: 10px;
    text-align: center;
    
}
.progress{
    height: 100%  ;
    border-radius: 15px;
    background-color:#009688;
}
.p-65 {width: 65%;}
.p-90 {width: 90%;}
.p-70 {width: 70%;}
.p-60 {width: 60%;}
.p-30 {width: 30%;}
.p-50 {width: 50%;}
.p-50 {width: 50%;}
.p-100 {width: 100%;}

.experience{

}
.data_details{
    width:90% ;
    margin: auto;
    padding: 40px 0px;
}
.data_details h3{
    color: #5c5c5c;
    font-size: medium;
    margin: 10px;  
}
.data_details > span{
    color: #009688;
    margin: 10px;
    letter-spacing: 1px 0;
    font-weight: bold;
}
section{
    background-color: white;
    border: 1px solid grey;
    width: 100%;
    border-radius: 20px;
    
}
.data_details p{
    color: #5c5c5c;
    margin: 1px 0px;
    letter-spacing: 1px;
    font-style:normal;
}
#first{
    margin-bottom: 20px;
}
#below{
    margin-top: 60pX;
    width: 100%;
    height: 150px;
    background-color: #009688;
    text-align: center;
    color: white;
    padding: 20px 0px;
    font-weight: bold;
    line-height: 2;
    border-radius: 10px;
    width: 100%;

    
}
footer a{
    color: antiquewhite;
    font-size: 1.2;
    padding: 2px;
    font-size: large;
}
h3{
    text-align: center;
    margin-top: 3px;
}
.person_detais h4{
    color: black;
    padding: 2px;
    letter-spacing: 1px;
    font-style: oblique;
}
h2{
    margin: 20px;
}
#content {
    background-color: white;
    border-radius: 20px;
    width: 95%;
    margin: 5px auto;
    padding-top: 15px;
}
#about{
    font-size: 1.0;
    font-family: arail, sans-serif;
    padding: 2px;
    color: black;
    width:95% ;
    margin: auto;
    margin: 1px 0px;
    letter-spacing: 1px;
}
i{
    color:#009688;
}
h4{
    color: black;
    padding: 2px;
    letter-spacing: 1px;
    font-style: oblique;
}
#last{
    text-align: center;
}
#last p{
    color: black;
}